<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mastercode | Empresa de Software</title>
    <link rel="stylesheet" href="/public/form-php-email.css" />
    <link rel="stylesheet" href="/public/animation.css" />
    <link rel="stylesheet" href="/public/responsive.css" />
    <link rel="stylesheet" href="/public/font-size-text.css" />
    <link rel="stylesheet" href="/public/index.css" />
  </head>
  <body>
    <custom-header></custom-header>

    <section id="servicos">
      <h2>Nossos Serviços</h2>
      <p>
        Oferecemos desenvolvimento de software, consultoria tecnológica e
        suporte técnico.
      </p>
      <div class="form-container">
        <div class="card">
          <h2>Entre em contato</h2>
          <div class="container">
            <custom-form></custom-form>
          </div>
        </div>
      </div>
    </section>

     <contato-component></contato-component>

   <footer-component></footer-component>

    <script src="/backend/form-php-email.php"></script>
    <script src="/scripts/index.js"></script>
    <script src="/components/headerComponents.js"></script>
    <script src="/components/cardComponent.js"></script>
    <script src="/components/formComponent.js"></script>
     <script src="/components/contatoComponent.js"></script>
    <script src="/components/footerComponent.js"></script>
  </body>
</html>
