<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mastercode | Empresa de Software</title>
    <link rel="stylesheet" href="./animation.css" />
    <link rel="stylesheet" href="./responsive.css" />
    <link rel="stylesheet" href="./font-size-text.css" />
    <link rel="stylesheet" href="./index.css" />
  </head>
  <body>
    <custom-header></custom-header>

   <servicos-component></servicos-component>

    <contato-component></contato-component>

   <footer-component></footer-component>

    <script src="scripts/index.js"></script>
    <script src="components/headerComponents.js"></script>
    <script src="components/servicosComponent.js"></script>
    <script src="components/cardComponent.js"></script>
    <script src="components/contatoComponent.js"></script>
    <script src="components/footerComponent.js"></script>

  </body>
</html>
